# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List development environment open source tools for Data Science
- Use a code cell to multiply and add numbers
- Use a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL
4. Java
5. JavaScript
6. C
7. C++
8. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

| Data Science Tools |
----------------------
|Jupyter Notebook|
|Apache Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Florence Wong (florenceyyw)